
body {
	background-color: #ffffff;
	font-family:'Dancing Script', cursive;}


#header{
	text-align: center;
}

h1{
	text-align: center;
	margin: 30px 20px auto;
	text-transform: uppercase;
	color:violet;
}

#clearButton{	
	
	border-radius: 20px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 20px;
	border: 4px solid black;
	outline: none;
	font-family: 'Dancing Script';
	color:pink;
}

.container{
	margin: 0 auto;
    border: 1px solid black;
    border-width: 10px;
    border-radius: 20px;
    box-shadow: cyan;
    width: 600px;
    max-width: 600px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.grid{
    background-color: 'white';
    flex-grow: 1;	
}

#randomizer{
	color: rgb(117 43 158);
	font-weight: bold;
	background-color: white;
	padding:15px;
	border:2px solid black;
	font-family: 'Dancing Script';
	font-size: 30px;
	margin: auto;
	border-radius: 20px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 20px;
	border: 4px solid black;
}
h1{
	font-family: 'Dancing Script'}

#master{
	display:flex;
	flex-direction: row;
	justify-content: center;
}